{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

    {% for item in news %}
    <div class="card mb-3">
        <div class="card-header">
            Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a>
        </div>
        <div class="card-body">
                {% if item.photo %}
                    <div >
                    <img src="{{ item.photo.url }}" alt="" width="350" height="300" class="float-start mr-3">
                    </div>
                {% else %}
                    <div>
                    <img src="https://avatarko.ru/img/kartinka/33/multfilm_lyagushka_32117.jpg" alt="" width="350" height="300" class="float-start mr-3">
                    </div>
                {% endif %}
                <div class="content">
                    <h5 class="card-title">{{ item.title }}</h5>

                    <p class="card-text">{{ item.content|linebreaks|truncatewords:50 }}</p>
                    <div class="button">
                    <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Читать новость полностью ...</a>
                    </div>
                </div>

        </div>
        <div class="card-footer text-muted">
            <p>{{ item.created_at|date:"d.m.Y H:i" }}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}