{% extends 'base.html' %}

{% block title %}
    {{ title }} :: {{ block.super }}
{% endblock %}
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

    {% for item in news %}
    <div class="card mb-3">
        <div class="card-header">

            Категория: <a href="{% url 'category' item.category.pk %}">{{ item.category }}</a>
        </div>
        <div class="card-body">
            <div class="media">
                {% if item.photo %}
                    <img src="{{ item.photo.url }}" alt="" width="400"  class="mr-4">
                {% else %}
                    <img src="https://avatarko.ru/img/kartinka/33/multfilm_lyagushka_32117.jpg" alt="" width="400"  class="mr-4">
                {% endif %}
                <div class="media-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.content|linebreaks|truncatewords:50 }}</p>
                    <a href="test" class="btn btn-primary">Read more...</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ item.created_at|date:"d.m.Y H:i" }}
        </div>
    </div>
    {% endfor %}

{% endblock %}