#header, .module h2, .module caption, .inline-group h2{

    background: #1a1e21;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited{
    color: #ffffcc;
}
div.breadcrumbs{
    background: #198754;
}
